.DS_STORE
**/.idea/**
**/*.pyc

PartA
PartB
**/LFM1b_artists.txt
**/LFM1b_users.txt

**/output/wikipedia
**/output/musixmatch/AAM.txt
**/output/musixmatch/tfidfs.txt

**/test_data/**

# ignore temp files from MSOffice
**/~$*

AAM_mm.txt
AAM_wiki.txt
